@media screen and (max-width: 960px) {
  #mobile-menu {
    top: 130px;
  }
  .no-sticky {
    position: fixed;
    left: 0;
    top: 0;
  }
  .slides-pagination {
    display: none;
  }
  #top-menu {
    height: 100px;
    background: #c30e2e;
  }
  #top-menu .top-menu-inner {
    display: none;
  }
  #top-menu .top-menu-inner-mobile {
    display: block;
  }
  #top-menu .top-menu-inner-mobile .menu-logo {
    height: 100px;
  }
  #top-menu .top-menu-inner-mobile .menu-lines {
    margin-top: 20px;
  }
  .container {
    width: 100%;
  }
  #network .nav-loghi li {
    width: 25%;
  }
  #network .nav-loghi li img {
    width: 100%;
    height: auto;
  }
  #news .timeline {
    background-image: none;
    padding: 0;
  }
  #news .timeline .news-cont {
    margin-bottom: 0;
    width: 100%;
  }
  #news .timeline .empty {
    background: none;
    display: none;
  }
  #news .timeline .right {
    background: url(../images/press-right-img2.png) 100% 50% no-repeat;
  }
  #news .timeline .press-left-box1-inner,
  #news .timeline .press-right-box1-inner {
    display: block;
    text-align: center;
    /*width: 50%;*/
  
    /*height: auto;
  		overflow: hidden;*/
  
  }
  #news .timeline .press-right-box1-inner {
    float: right;
  }
  #news .press-link.aleft,
  #news .press-link.aright {
    /*	position: relative;
  	display: inline-block;
  	margin: 10px auto;
  	right: inherit;
  	left: inherit;
  	top: inherit;
  	bottom: inherit;*/
  
  }
}
/*960*/
@media screen and (max-width: 480px) {
  .lang-menu .container ul li {
    padding: 5px 0 5px 2px;
  }
  .lang-menu .container ul li.social {
    display: none;
  }
  .slidecaption {
    z-index: 100;
    display: inline-block;
    margin: 0 auto;
    background-color: transparent;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
  }
  .slidecaption img {
    display: block;
    margin: 0 auto;
  }
  .slidecaption .logo {
    margin-bottom: 20px;
  }
  .slidecaption .whitearrow {
    margin-top: 20px;
    cursor: pointer;
  }
  #mobile-menu {
    top: 90px;
  }
  .no-sticky {
    position: fixed;
    left: 0;
    top: 0;
  }
  .slides-pagination {
    display: none;
  }
  #top-menu {
    height: 60px;
  }
  #top-menu .top-menu-inner {
    display: none;
  }
  #top-menu .top-menu-inner-mobile {
    display: block;
  }
  #top-menu .top-menu-inner-mobile .menu-logo {
    height: 60px;
  }
  #top-menu .top-menu-inner-mobile .menu-lines {
    margin-top: 0;
  }
  .container {
    width: 100%;
  }
  .one-half,
  .one-third,
  .one-fourth,
  .two-third {
    width: 100%;
    float: none;
    text-align: center;
  }
  #network .nav-loghi li {
    width: 50%;
  }
  #network .nav-loghi li img {
    width: 100%;
    height: auto;
  }
  #news .timeline {
    background: #ededed;
    padding: 0;
  }
  #news .timeline .news-cont {
    height: auto;
    overflow: hidden;
    width: 90%;
    padding: 10px 5%;
    margin: 10px auto;
  }
  #news .timeline .empty {
    background: none;
    display: none;
  }
  #news .timeline .left,
  #news .timeline .right {
    background: #c30e2e;
  }
  #news .timeline .press-left-box1-inner,
  #news .timeline .press-right-box1-inner {
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  #news .timeline .press-left-box1-inner .date,
  #news .timeline .press-right-box1-inner .date,
  #news .timeline .press-left-box1-inner .cont,
  #news .timeline .press-right-box1-inner .cont {
    width: 100%;
    display: block;
    position: relative;
    left: inherit;
    top: inherit;
    border: 0;
    padding: 0;
  }
  #news .press-link.aleft,
  #news .press-link.aright {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    right: inherit;
    left: inherit;
    top: inherit;
    bottom: inherit;
  }
  footer {
    text-align: center;
  }
  footer .container .logofooter,
  footer .container .copy {
    float: none;
    display: inline-block;
    text-align: center;
  }
}
/*480*/